@mixin font-face($font-family, $font-src, $font-weight: 400, $font-style: normal) {
  @font-face {
    font-display: swap;
    font-family: $font-family;
    src: $font-src;
    font-style: $font-style;
    font-weight: $font-weight;
  }
}

@mixin font($font-size, $line-height: 1) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin background($background-size: contain, $background-position: center) {
  background-repeat: no-repeat;
  background-size: $background-size;
  background-position: $background-position;
}

@mixin image-set($image-name, $type: "png") {
  background-image: image-set(url("../../images/" + $image-name + "@1x.wepb") type("image/wepb") 1x, url("../../images/" + $image-name + "@2x.wepb") type("image/wepb") 2x, url("../../images/" + $image-name + "@1x." + $type) type("image/" + $type) 1x, url("../../images/" + $image-name + "@2x." + $type) type("image/" + $type) 2x);
}

@mixin pseudo-element($width, $height, $background-color: transparent) {
  content: "";
  display: block;
  width: $width;
  height: $height;
  background-color: $background-color;
  flex-shrink: 0;
}

@mixin container {
  padding-left: 22px;
  padding-right: 22px;
}

@mixin title {
  @include font(24px, 29px);
  font-weight: 700;
  color: $color-main;
}
