.features-item {
  padding-right: 50%;

  &:first-child {
    padding-right: 60%;
  }

  &:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba($color-second, 0.5);
    margin-bottom: 10px;
  }
}

.features-item__title {
  @include font(14px, 16px);
  font-weight: 500;
  margin-bottom: 10px;
}

.features-item__text {
  @include font(8px, 10px);
  font-weight: 300;
}
